.contenedor{
    width: 100%;
}
#logo{
    margin-top: 1%;
    width: 25%;
    height: 45px;
    margin-left: 1%;
}
#btnV{
    margin-left: 3%;
    color: #1C2839;
    font-family: 'Bold';
    font-size: 20px;
    border-radius: 7px;
    border: none;
}
#btnI{
    margin-left: 3%;
    color: #1C2839;
    font-family: 'Bold';
    font-size: 20px;
    border-radius: 7px;
    border: none;
}
#btnC{
    margin-left: 3%;
    color: #1C2839;
    font-family: 'Bold';
    font-size: 20px;
    border-radius: 7px;
    border: none;
}
#btnU{
    margin-left: 3%;
    color: #1C2839;
    font-family: 'Bold';
    font-size: 20px;
    border-radius: 7px;
    border: none;
}